<div class="wikiintro">
  @if (!noArticle()) {
    <h2>Beschreibung</h2>
    @if (imageurl(); as imageurl) {
      <img loading="lazy" [src]="imageurl" class="wikiimg" alt="Wikipediaartikel" />
    }
    <blockquote class="blockquote">
      <p class="mb-0" [innerHTML]="wikiintro().extract"></p>
      <footer class="blockquote-footer"><a [href]="citeurl()" target="_blank">Quelle: {{citeurl()}}</a></footer>
    </blockquote>
  } @else {
      Für diesen Begriff wurde keine Wikipediaartikel gefunden!
  }
</div>