<div class="contact">
  <div class="contact-inner">
    <h2 class="headline-section"><a href="#Contact">Kontakt <mat-icon>link</mat-icon></a></h2>
    <div class="contact-details">
      <div class="contact-email">
        <a href="mailto:stefankern@outlook.com">
          <span class="contact-title">Email: </span> stefankern@outlook.com
        </a>
      </div>
      <div class="contact-adress">
        <a target="_blank" href="https://www.google.at/maps/place/Am+Anningerpark+1,+2351+Wiener+Neudorf/@48.0771682,16.3060075,17z/data=!3m1!4b1!4m5!3m4!1s0x476daef8ac6b5bed:0x9f6cfc0d925df04a!8m2!3d48.0771682!4d16.3081962?hl=en">
          <span class="contact-title">Adresse</span><br>
          Am Anningerpark 1/1/8 <br>
          2351 Wr. Neudorf <br>
          Österreich
        </a>
      </div>
      <div class="contact-phone">
        <a href="tel:0043 6642177134" target="_blank">
          <span class="contact-title">Telefonnummner: </span> +43 664 217 71 34
        </a>
      </div>
    </div>
  </div>
</div>