<div id="Timeline" class="timeline">
  <div class="container">
    <h2 class="headline-section">
      <a href="#Timeline" i18n>
        <span>Ausbildung und Arbeit</span>
        <mat-icon>link</mat-icon>
      </a>
    </h2>
    <div class="timeline-container">
      <a
        class="timeline-item timeline-item--left timeline-item--extended"
        href="https://www.ntsretail.com/"
      >
        <div class="timeline-content">
          <img
            loading="lazy"
            src="assets/timeline/NTS-retail.png"
            alt="NTS Retail Logo"
            class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn"
          />
          <span class="timeline-content-time" i18n>Jänner 2019 - jetzt</span
          ><br />
          <b class="timeline-content-headline" i18n>Applikation Architekt</b
          ><br />
          <span class="timeline-content-link" i18n>NTS Retail</span><br />
          <span class="timeline-content-description" i18n
            >Entwicklung komplexer "Point of sale (POS)" Lösungen</span
          >
          <div class="timeline-content-roles">
            <div class="timeline-role">
              <span class="timeline-role-period" i18n
                >Dezember 2021 - jetzt:</span
              >
              <span class="timeline-role-title" i18n
                >Applikation Architekt</span
              >
            </div>
            <div class="timeline-role">
              <span class="timeline-role-period" i18n
                >Jänner 2019 - Dezember 2021:</span
              >
              <span class="timeline-role-title" i18n
                >Senior Frontend Developer</span
              >
            </div>
          </div>
        </div>
      </a>
      <a
        class="timeline-item timeline-item--right"
        href="https://kraftwerk.co.at/"
      >
        <div class="timeline-content">
          <img
            loading="lazy"
            src="assets/timeline/kraftwerk.png"
            alt="Kraftwerk Logo"
            class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn"
          />
          <span class="timeline-content-time" i18n
            >September 2015 - November 2018</span
          ><br />
          <b class="timeline-content-headline" i18n>Senior Frontend Developer</b
          ><br />
          <span class="timeline-content-link" i18n
            >kraftwerk | Agentur für neue Kommunikation</span
          ><br />
          <span class="timeline-content-description" i18n
            >Realisierung unterschiedlichste, spannender Weblösung</span
          >
        </div>
      </a>
      <a
        class="timeline-item timeline-item--left timeline-item--extended"
        href="https://www.gpn-telecom.net/"
      >
        <div class="timeline-content">
          <img
            loading="lazy"
            src="assets/timeline/GPN_Telecom.png"
            alt="GPN Telecom Logo"
            class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn"
          />
          <span class="timeline-content-time" i18n>Mai 2014 - August 2015</span
          ><br />
          <b class="timeline-content-headline" i18n>Teamleader</b><br />
          <span class="timeline-content-link" i18n>GPN- Telecom</span><br />
          <span class="timeline-content-description" i18n
            >Entwicklung und Wartung eines Multimandanten Portals für Lync/Skype
            for Business</span
          >
          <div class="timeline-content-roles">
            <div class="timeline-role">
              <span class="timeline-role-period" i18n
                >November 2014 - August 2015:</span
              >
              <span class="timeline-role-title" i18n>Teamleader</span>
            </div>
            <div class="timeline-role">
              <span class="timeline-role-period" i18n
                >Mai 2014 - November 2014:</span
              >
              <span class="timeline-role-title" i18n>Fullstack Developer</span>
            </div>
          </div>
        </div>
      </a>
      <a
        class="timeline-item timeline-item--right"
        href="https://www.lkwwalter.com/"
      >
        <div class="timeline-content">
          <img
            loading="lazy"
            src="assets/timeline/lkww.png"
            alt="LKW Walter Logo"
            class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn"
          />
          <span class="timeline-content-time" i18n>January 2014 - May 2014</span
          ><br />
          <b class="timeline-content-headline" i18n>Teamleader</b><br />
          <span class="timeline-content-link" i18n>LKW Walter</span><br />
          <span class="timeline-content-description" i18n
            >Kurzer Ausflug in die Welt der Transportorganisation</span
          >
        </div>
      </a>
      <a
        class="timeline-item timeline-item--left"
        href="https://www.papyrus.com/"
      >
        <div class="timeline-content">
          <img
            loading="lazy"
            src="assets/timeline/isis-papyrus.jpg"
            alt="Papyrus Logo"
            class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn"
          />
          <span class="timeline-content-time" i18n
            >January 2011 - January 2014</span
          ><br />
          <b class="timeline-content-headline" i18n>Entwickler</b><br />
          <span class="timeline-content-link" i18n>Papyrus</span><br />
          <span class="timeline-content-description" i18n
            >Masterarbeit, Eye Widget HTML Client, Website Builder und
            mehr</span
          >
        </div>
      </a>
      <a
        class="timeline-item timeline-item--right timeline-item--extended"
        href="https://www.fhwn.ac.at/"
      >
        <div class="timeline-content">
          <img
            loading="lazy"
            src="assets/timeline/fh-wiener-neustadt.svg"
            alt="FH Wiener Neustadt Logo"
            class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn"
          />
          <span class="timeline-content-time" i18n
            >September 2006 - January 2011</span
          ><br />
          <b class="timeline-content-headline" i18n>Studium</b><br />
          <span class="timeline-content-link" i18n
            >Fachhochschule Wr. Neustadt</span
          ><br />
          <span class="timeline-content-description" i18n
            >Studium für Informationstechnik, Studienrichtung Technische
            Informatik</span
          >
          <div class="timeline-content-roles">
            <div class="timeline-role">
              <span class="timeline-role-period" i18n
                >September 2009 - January 2011:</span
              >
              <span class="timeline-role-title" i18n>Masterstudium</span>
            </div>
            <div class="timeline-role">
              <span class="timeline-role-period" i18n
                >September 2006 - Juni 2009:</span
              >
              <span class="timeline-role-title" i18n>Bachelorstudium</span>
            </div>
          </div>
        </div>
      </a>
      <a
        class="timeline-item timeline-item--left"
        href="https://www.htl.moedling.at/"
      >
        <div class="timeline-content">
          <img
            loading="lazy"
            src="assets/timeline/htl-moedling.gif"
            alt="HTL Mödling Logo"
            class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn"
          />
          <span class="timeline-content-time" i18n>2001 - Juni 2006</span><br />
          <b class="timeline-content-headline" i18n>Matura</b><br />
          <span class="timeline-content-link" i18n>HTL Mödling</span><br />
          <span class="timeline-content-description" i18n
            >Fünfjährige Ausbildung mit Matura Abschluss</span
          >
        </div>
      </a>
    </div>
    <div class="timeline-divider">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </div>
</div>
