<mat-toolbar color="primary">
  <a routerLink="/">
    <img src="assets/logo/KernProLogo.svg" class="main-nav-logo" alt="KernPro Logo">
    Stefan Kern, MSc
  </a>

  <span class="main-nav-spacer"></span>
  <button mat-icon-button (click)="isOpen.set(!isOpen())" class="sidenav-toggle">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [opened]="isOpen()"
    (closed)="isOpen.set(false)"
    mode="over"
    position="end"
  >
    <mat-toolbar color="primary" i18n>Inhaltsverzeichnis</mat-toolbar>
    <mat-nav-list class="sidenav-items">
      <mat-list-item (click)="navigateToSection('AboutMe')" i18n>Über mich</mat-list-item>
      <mat-list-item (click)="navigateToSection('Skills')" i18n>Fähigkeiten</mat-list-item>
      <mat-list-item (click)="navigateToSection('Timeline')" i18n>Ausbildung und Arbeit</mat-list-item>
      <mat-list-item (click)="navigateToSection('Contact')" i18n>Kontakt</mat-list-item>
    </mat-nav-list>

    <mat-button-toggle-group
      name="language-switcher"
      aria-label="Language switcher"
      class="sidenav-language-switcher"
      [value]="currentLang()"
    >
      <mat-button-toggle value="de" class="sidenav-language" (click)="changeLanguage('de')">DE</mat-button-toggle>
      <mat-button-toggle value="en" class="sidenav-language" (click)="changeLanguage('en')">EN</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
    <core-contact id="Contact"></core-contact>
  </mat-sidenav-content>
</mat-sidenav-container>
