.skills {
  position: relative;
  padding-bottom: 92px;
}

.form-groups {
    display: flex;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.form-group {
    border-width: 0;
    border-top-width: 2px;
    margin: 5px;
    font-size: 14px;
    flex-grow: 1;
}

.form-check {
    float: left;
}
/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
mat-slide-toggle {
    padding-right: 1rem;
}

.check-HtmlCssSkills.mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-bar {
            background-color: lighten(#2196f3, 25%);
        }
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-thumb {
            background-color: #2196f3;
        }
    }
}

.check-JavaScriptSkills.mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-bar {
            background-color: lighten(#000000, 25%);
        }
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-thumb {
            background-color: #000000;
        }
    }
}

.check-CMSSkills.mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-bar {
            background-color: lighten(#00BEC1, 25%);
        }
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-thumb {
            background-color: #00BEC1;
        }
    }
}

.check-BuildToolsSkills.mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-bar {
            background-color: lighten(#6A8FCC, 25%);
        }
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-thumb {
            background-color: #6A8FCC;
        }
    }
}

.check-NoneWebTechnologiesSkills.mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-bar {
            background-color: lighten(#69717F, 25%);
        }
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-thumb {
            background-color: #69717F;
        }
    }
}

.check-BlockchainCoinsSkills.mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-bar {
            background-color: lighten(#58bf00, 25%);
        }
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-thumb {
            background-color: #58bf00;
        }
    }
}

.check-BlockchainTechnologiesSkills.mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-bar {
            background-color: lighten(darkblue, 25%);
        }
        /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
        .mat-slide-toggle-thumb {
            background-color: darkblue;
        }
    }
}

.skill-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
  }

  .shape-fill {
    fill: #E3F2FD;
  }
}
