<div class="skills">
  <div class="container">
    <h2 class="headline-section"><a href="#Skills">Skills <mat-icon>link</mat-icon></a></h2>
    <word-cloud [words]="shownskills" #wordcloud></word-cloud>

    <div class="form-groups">
      <fieldset class="form-group">
        <legend>Web Filter</legend>
        <div class="form-check">
          <input class="ios8-switch ios8-switch-HTMLCSSSkills" type="checkbox" (change)="filterchange()" [(ngModel)]="showHTMLCSSSkills"
            id="HTMLCSSSkills">
          <label for="HTMLCSSSkills">
            HTML/CSS
          </label>
        </div>
        <div class="form-check">
          <input class="ios8-switch ios8-switch-JavaScriptSkills" type="checkbox" (change)="filterchange()" [(ngModel)]="showJavaScriptSkills"
            id="JavaScriptSkills">
          <label for="JavaScriptSkills">
            Javascript
          </label>
        </div>
        <div class="form-check">
          <input class="ios8-switch ios8-switch-CMSSkills" type="checkbox" (change)="filterchange()" [(ngModel)]="showCMSSkills"
            id="CMSSkills">
          <label for="CMSSkills">
            CMS
          </label>
        </div>
        <div class="form-check">
          <input class="ios8-switch ios8-switch-SEOSkills" type="checkbox" (change)="filterchange()" [(ngModel)]="showSEOSkills"
            id="SEOSkills">
          <label for="SEOSkills">
            SEO
          </label>
        </div>
        <div class="form-check">
          <input class="ios8-switch ios8-switch-BuildToolsSkills" type="checkbox" (change)="filterchange()" [(ngModel)]="showBuildToolsSkills"
            id="BuildToolsSkills">
          <label for="BuildToolsSkills">
            Build Tools
          </label>
        </div>
      </fieldset>
    
      <fieldset class="form-group">
        <legend>Programmieren Filter</legend>
        <div class="form-check">
          <input class="ios8-switch ios8-switch-ProgrammingLanguagesSkills" type="checkbox" (change)="filterchange()"
            [(ngModel)]="showProgrammingLanguagesSkills" id="ProgrammingLanguagesSkills">
          <label for="ProgrammingLanguagesSkills">
            Languages / Frameworks
          </label>
        </div>
      </fieldset>
    
      <fieldset class="form-group">
        <legend>Blockchain Filter</legend>
        <div class="form-check">
          <input class="ios8-switch ios8-switch-BlockchainCoinsSkills" type="checkbox" (change)="filterchange()"
            [(ngModel)]="showBlockchainCoinsSkills" id="BlockchainCoinsSkills">
          <label for="BlockchainCoinsSkills">
            Coins
          </label>
        </div>
        <div class="form-check">
          <input class="ios8-switch ios8-switch-BlockchainTechnologiesSkills" type="checkbox" (change)="filterchange()"
            [(ngModel)]="showBlockchainTechnologiesSkills" id="BlockchainTechnologiesSkills">
          <label for="BlockchainTechnologiesSkills">
            Technologies
          </label>
        </div>
      </fieldset>
    </div>
  </div>
</div>