.skills {
    position: relative;
    padding-bottom: 92px;
}

.form-groups {
    display: flex;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.form-group {
    border-width: 0;
    border-top-width: 2px;
    margin: 5px;
    font-size: 14px;
    flex-grow: 1;
}

.form-check {
    float: left;
}

mat-slide-toggle {
    padding-right: 1rem;
}

@mixin set-mdc-switch-colors($color-primary) {
    $color-secondary: lighten($color-primary, 20%);

    --mdc-switch-selected-focus-state-layer-color: #{$color-primary};
    --mdc-switch-selected-handle-color: #{$color-primary};
    --mdc-switch-selected-hover-state-layer-color: #{$color-primary};
    --mdc-switch-selected-pressed-state-layer-color: #{$color-primary};
    --mdc-switch-selected-focus-handle-color: #{$color-primary};
    --mdc-switch-selected-hover-handle-color: #{$color-primary};
    --mdc-switch-selected-pressed-handle-color: #{$color-primary};
    --mdc-switch-selected-focus-track-color: #{$color-secondary};
    --mdc-switch-selected-hover-track-color: #{$color-secondary};
    --mdc-switch-selected-pressed-track-color: #{$color-secondary};
    --mdc-switch-selected-track-color: #{$color-secondary};
  }


.check-HtmlCssSkills.mat-mdc-slide-toggle.mat-accent {
    @include set-mdc-switch-colors(#2196f3);
}

.check-JavaScriptSkills.mat-mdc-slide-toggle.mat-accent {
    @include set-mdc-switch-colors(#000000);
}

.check-CMSSkills.mat-mdc-slide-toggle.mat-accent {
    @include set-mdc-switch-colors(#00BEC1);
}

.check-BuildToolsSkills.mat-mdc-slide-toggle.mat-accent {
    @include set-mdc-switch-colors(#6A8FCC);
}

.check-NoneWebTechnologiesSkills.mat-mdc-slide-toggle.mat-accent {
    @include set-mdc-switch-colors(#69717F);
}

.check-BlockchainCoinsSkills.mat-mdc-slide-toggle.mat-accent {
    @include set-mdc-switch-colors(#58bf00);
}

.check-BlockchainTechnologiesSkills.mat-mdc-slide-toggle.mat-accent {
    @include set-mdc-switch-colors(darkblue);
}

.skill-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
        position: relative;
        display: block;
        width: calc(119% + 1.3px);
        height: 90px;
        transform: rotateY(180deg);
    }

    .shape-fill {
        fill: #E3F2FD;
    }
}