.skills {}

.form-groups {
    display: flex;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.form-group {
    border-width: 0;
    border-top-width: 2px;
    margin: 5px;
    font-size: 14px;
    flex-grow: 1;
}

.form-check {
    float: left;
}

svg {
    border: 1px solid red;
    text {
        cursor: pointer;
    }
}

mat-slide-toggle {
    padding-right: 1rem;
}

.check-HtmlCssSkills.mat-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        .mat-slide-toggle-bar {
            background-color: lighten(#2196f3, 25%);
        }
        .mat-slide-toggle-thumb {
            background-color: #2196f3;
        }
    }
}

.check-JavaScriptSkills.mat-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        .mat-slide-toggle-bar {
            background-color: lighten(#000000, 25%);
        }
        .mat-slide-toggle-thumb {
            background-color: #000000;
        }
    }
}

.check-CMSSkills.mat-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        .mat-slide-toggle-bar {
            background-color: lighten(#00BEC1, 25%);
        }
        .mat-slide-toggle-thumb {
            background-color: #00BEC1;
        }
    }
}

.check-SEOSkills.mat-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        .mat-slide-toggle-bar {
            background-color: lighten(#40567B, 25%);
        }
        .mat-slide-toggle-thumb {
            background-color: #40567B;
        }
    }
}

.check-BuildToolsSkills.mat-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        .mat-slide-toggle-bar {
            background-color: lighten(#6A8FCC, 25%);
        }
        .mat-slide-toggle-thumb {
            background-color: #6A8FCC;
        }
    }
}

.check-ProgrammingLanguagesSkills.mat-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        .mat-slide-toggle-bar {
            background-color: lighten(#69717F, 25%);
        }
        .mat-slide-toggle-thumb {
            background-color: #69717F;
        }
    }
}

.check-BlockchainCoinsSkills.mat-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        .mat-slide-toggle-bar {
            background-color: lighten(#58bf00, 25%);
        }
        .mat-slide-toggle-thumb {
            background-color: #58bf00;
        }
    }
}

.check-BlockchainTechnologiesSkills.mat-slide-toggle.mat-checked:not(.mat-disabled) {
    ::ng-deep {
        .mat-slide-toggle-bar {
            background-color: lighten(darkblue, 25%);
        }
        .mat-slide-toggle-thumb {
            background-color: darkblue;
        }
    }
}
