<div class="timeline">
  <div class="container">
    <h2 class="headline-section"><a href="#Timeline">Ausbildung und Arbeit <mat-icon>link</mat-icon></a></h2>
    <div class="timeline-container">
      <a class="timeline-item timeline-item--left" href="https://htl.moedling.at/index.php?id=965">
        <div class="timeline-content">
          <img loading="lazy" src="assets/timeline/htl-moedling.gif" alt="HTL-Mödling Logo" class="timeline-content-logo" coreTimelineintersection="animate__rollIn" />
          <span class="timeline-content-time">Bis Juni 2006</span><br />
          <b class="timeline-content-headline">Matura</b><br />
          <span class="timeline-content-link">HTL Mödling</span><br />
          <span class="timeline-content-description">Fünfjährige Ausbildung mit Matura Abschluss</span>
        </div>
      </a>
      <a class="timeline-item timeline-item--right" href="https://www.fhwn.ac.at/">
        <div class="timeline-content">
          <img loading="lazy" src="assets/timeline/fh-wiener-neustadt.svg" alt="FH Wiener Neustadt Logo" class="timeline-content-logo" coreTimelineintersection="animate__rollIn" />
          <span class="timeline-content-time">Oktober 2006 - Juni 2011</span><br />
          <b class="timeline-content-headline">Bachelor und Master</b><br />
          <span class="timeline-content-link">Fachhochschule Wr. Neustadt</span><br />
          <span class="timeline-content-description">Bachelor und Masterstudium für Informationstechnik, Studienrichtung Technische Informatik</span>
        </div>
      </a>
      <a class="timeline-item timeline-item--left" href="https://www.isis-papyrus.com/">
        <div class="timeline-content">
          <img loading="lazy" src="assets/timeline/isis-papyrus.jpg" alt="ISIS Papayrus Logo" class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn" />
          <span class="timeline-content-time">January 2011 - January 2014</span><br />
          <b class="timeline-content-headline">Entwickler</b><br />
          <span class="timeline-content-link">ISIS Papyrus</span><br />
          <span class="timeline-content-description">Masterarbeit, Eye Widget HTML Client, Website Builder und mehr</span>
        </div>
      </a>
      <a class="timeline-item timeline-item--right" href="https://www.lkw-walter.at/">
        <div class="timeline-content">
          <img loading="lazy" src="assets/timeline/lkww.png" alt="LKW Walter Logo" class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn" />
          <span class="timeline-content-time">January 2014 - May 2014</span><br />
          <b class="timeline-content-headline">Trainee</b><br />
          <span class="timeline-content-link">LKW Walter</span><br />
          <span class="timeline-content-description">Kurzer Ausflug in die Welt der Transportorganisation</span>
        </div>
      </a>
      <a class="timeline-item timeline-item--left" href="https://www.gpn-telecom.net/">
        <div class="timeline-content">
          <img loading="lazy" src="assets/timeline/GPN_Telecom.png" alt="GPN Telecom Logo" class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn" />
          <span class="timeline-content-time">Mai 2014 -August 2015</span><br />
          <b class="timeline-content-headline">Teamleader</b><br />
          <span class="timeline-content-link">GPN- Telecom</span><br />
          <span class="timeline-content-description">Entwicklung und Wartung eines Multimandanten Portals für Lync/Skype for Buisness</span>
        </div>
      </a>
      <a class="timeline-item timeline-item--right" href="https://kraftwerk.co.at/">
        <div class="timeline-content">
          <img loading="lazy" src="assets/timeline/kraftwerk.png" alt="Kraftwerk Logo" class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn" />
          <span class="timeline-content-time">September 2015 - November 2018</span><br />
          <b class="timeline-content-headline">Senior Frontend Devloper</b><br />
          <span class="timeline-content-link">kraftwerk | Agentur für neue Kommunikation</span><br />
          <span class="timeline-content-description">Realisierung unterschiedlichste, spannender Weblösung</span>
        </div>
      </a>
      <a class="timeline-item timeline-item--left" href="https://www.ntsretail.com/">
        <div class="timeline-content">
          <img loading="lazy" src="assets/timeline/NTS-retail.png" alt="Kraftwerk Logo" class="timeline-content-logo"
            coreTimelineintersection="animate__rollIn" />
          <span class="timeline-content-time">Jänner 2019 - Now</span><br />
          <b class="timeline-content-headline">Senior Frontend Devloper</b><br />
          <span class="timeline-content-link">NTS Retail</span><br />
          <span class="timeline-content-description">Frontent Programmierung für eine "Point of sale (POS)" Lösung</span>
        </div>
      </a>
    </div>
    <div class="timeline-divider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>
  </div>
