<div class="timeline">
  <div class="container">
    <h2>Ausbildung und Arbeit <a href="#Timeline">#</a></h2>
    <div class="timeline-container">
      <div class="timeline-item timeline-item--left">
        <div class="timeline-content">
          <p class="clearfix">
            <a class="timeline-content-link" href="http://htl.moedling.at/index.php?id=965">
              <img src="assets/timeline/htl-moedling.gif" alt="HTL-Mödling Logo" class="timeline-content-logo" />
            </a>
            <span class="timeline-content-time">Bis Juni 2006</span><br />
            <b class="timeline-content-headline h6">Matura</b><br />
            <a class="timeline-content-link" href="http://htl.moedling.at/index.php?id=965">HTL Mödling </a><br />
            <span class="timeline-content-description">Fünfjährige Ausbildung mit Matura Abschluss</span>
          </p>
        </div>
      </div>
      <div class="timeline-item timeline-item--right">
        <div class="timeline-content">
          <p>
            <a class="timeline-content-link" href="http://www.fhwn.ac.at/">
              <img src="assets/timeline/fh-wiener-neustadt.svg" alt="FH Wiener Neustadt Logo" class="timeline-content-logo" />
            </a>
            <span class="timeline-content-time">Oktober 2006 - Juni 2011</span><br />
            <b class="timeline-content-headline h6">Bachelor und Master</b><br />
            <a class="timeline-content-link" href="http://www.fhwn.ac.at/">Fachhochschule Wr. Neustadt</a><br />
            <span class="timeline-content-description">Bachelor und Masterstudium für Informationstechnik, Studienrichtung Technische Informatik</span>
          </p>
        </div>
      </div>
      <div class="timeline-item timeline-item--left">
        <div class="timeline-content">
          <p>
            <a class="timeline-content-link" href="http://www.isis-papyrus.com/">
              <img src="assets/timeline/isis-papyrus.jpg" alt="ISIS Papayrus Logo" class="timeline-content-logo" />
            </a>
            <span class="timeline-content-time">January 2011 - January 2014</span><br />
            <b class="timeline-content-headline h6">Entwickler</b><br />
            <a class="timeline-content-link" href="http://www.isis-papyrus.com/">ISIS Papyrus</a><br />
            <span class="timeline-content-description">Masterarbeit, Eye Widget HTML Client, Website Builder und mehr</span>
          </p>
        </div>
      </div>
      <div class="timeline-item timeline-item--right">
        <div class="timeline-content">
          <p>
            <a class="timeline-content-link" href="http://www.lkw-walter.at/">
              <img src="assets/timeline/lkww.png" alt="LKW Walter Logo" class="timeline-content-logo" />
            </a>
            <span class="timeline-content-time">January 2014 - May 2014</span><br />
            <b class="timeline-content-headline h6">Trainee</b><br />
            <a class="timeline-content-link" href="http://www.lkw-walter.at/">LKW Walter</a><br />
            <span class="timeline-content-description">Kurzer Ausflug in die Welt der Transportorganisation</span>
          </p>
        </div>
      </div>
      <div class="timeline-item timeline-item--left">
        <div class="timeline-content">
          <p>
            <a class="timeline-content-link" href="https://www.gpn-telecom.net/">
              <img src="assets/timeline/GPN_Telecom.png" alt="GPN Telecom Logo" class="timeline-content-logo" />
            </a>
            <span class="timeline-content-time">Mai 2014 -August 2015</span><br />
            <b class="timeline-content-headline h6">Teamleader</b><br />
            <a class="timeline-content-link" href="https://www.gpn-telecom.net/">GPN- Telecom</a><br />
            <span class="timeline-content-description">Entwicklung und Wartung eines Multimandanten Portals für Lync/Skype for Buisness</span>
          </p>
        </div>
      </div>
      <div class="timeline-item timeline-item--right">
        <div class="timeline-content">
          <p>
            <a class="timeline-content-link" href="http://kraftwerk.co.at/">
              <img src="assets/timeline/kraftwerk.png" alt="Kraftwerk Logo" class="timeline-content-logo" />
            </a>
            <span class="timeline-content-time">September 2015 - November 2018</span><br />
            <b class="timeline-content-headline h6">Senior Frontend Devloper</b><br />
            <a class="timeline-content-link" href="http://kraftwerk.co.at/">kraftwerk | Agentur für neue Kommunikation</a><br />
            <span class="timeline-content-description">Realisierung unterschiedlichste, spannender Weblösung</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> 