.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  &__card {
    max-width: 450px;
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    mat-icon {
      font-size: 4rem;
      width: 4rem;
      height: 4rem;
      margin-bottom: 1rem;
    }
  }

  &__description {
    text-align: center;
  }

  &__google-button {
    width: 100%;
  }
}
