.aboutme-gird {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: auto;
    grid-gap: 15px;
    background: #fafafa;
    grid-template-areas: 
      "headline headline"
      "text soprofile"
  }
  
  
  .aboutme-headline {
    grid-area: headline;
  }
  .aboutme-text {
    grid-area: text;
  }
  .aboutme-soprofile {
    grid-area: soprofile;
  }