<picture [style.transform]="transformImgPos">
  <!--<source media="(max-width: 700px)" sizes="(max-width: 500px) 50vw, 10vw"
          srcset="stick-figure-narrow.png 138w, stick-figure-hd-narrow.png 138w">

  <source media="(max-width: 1400px)" sizes="(max-width: 1000px) 100vw, 50vw"
          srcset="stick-figure.png 416w, stick-figure-hd.png 416w">-->

  <img src="/assets/intro/intro-desktop.png" />
</picture>
<div class="intro-text d-flex" [style.transform]="transformTextPos">
  <div class="container align-self-center">
    <h1 class="intro-text-headline h1"><span class="title">MSc</span><br /> Stefan Kern</h1>
    <span class="intro-text-addition h4">Senior Web Developer</span>
  </div>
</div>

<!-- image: https://www.pexels.com/photo/abstract-art-blur-bright-373543/-->
