<div class="aboutme">
  <div class="container">
    <div class="aboutme-gird">
      <h2 class="aboutme-headline">Über mich <a href="#AboutMe">#</a></h2>
      <div class="aboutme-text">
        Liebe Besucher,<br />
        <p>mein Name ist Stefan Kern und das ist meine persönliche Webseite. Sie basiert auf Angular 7 mit serverseitigem Rendering. Ich bin
          in meinen Dreißigern und leidenschaftlicher Programmierer. Ich arbeite seit dem Abschluss meines Masterstudiums 2011 als Web-Entwickler.</p>
        <p> In meinen ersten drei Jahren war ich auf „Single Page Applications“, kurz WebApps, mittels GWT
          spezialisiert. Danach war ich für die Weiterentwicklung eines Skype for Business Mandanten-Systems verantwortlich. Die letzten drei Jahre war ich bei der 
          <a href="http://kraftwerk.co.at">Agentur kraftwerk</a>, der #1 kreative Werbeagentur tätig. Derzeit wende ich mich neuen Herausforderungen im Bereich Angular an.</p>
        <div class="d-block">
          Durch meine spannende Tätigkeit im Bereich Frontend Development habe ich Projekte wie
          <ul>
            <li>
              <a href="https://asfinag.at">ASFINAG Homepage</a> - Fronend
            </li>
            <li>
              <a href="http://maps.bmlfuw.gv.at/">Maps BMLFUW GV AT</a> - Interaktive Kartenlösung für das BMLFUW
            </li>
            <li>
              <a href="https://prolicht.at/de/produkte/produktfamilien/invader/invader-small-randlos-strahler/">Prolicht
                Configurator</a> Interaktiver Produktconfigurator
            </li>
            <li><a href="https://philoro.at/">Philoro</a> - Online Gold Shop </li>
          </ul>
          sowie diverse kleine Projekte umgesetzt. Seit letztem Jahr bin ich Senior Web Developer.
        </div><br />
        <p>Der Bereich Webentwicklung ist einem ständigen Wandel unterworfen. Neue Technologien, Frameworks und Tools
          erscheinen mehrmals im Jahr oder haben eine komplette Reimplementierung. Ein Fokus liegt auf Webtechnologien 
          in der Darstellung (CSS/HTML), der Verbindung mit Logic (Angular) und Optimierung (SEO, Webpack, Grunt). Außerdem
          finde ich die Blockchain unglaublich faszinierend.</p>
      </div>
      <div class="aboutme-soprofile">
        <img src="assets/Stefan Kern profilepic.jpg" width="200" />
        <br />
        <a href="http://stackoverflow.com/users/639035/stefan">
          <img src="http://stackoverflow.com/users/flair/639035.png?theme=dark" width="200" height="58" alt="profile for Stefan at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
            title="profile for Stefan at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
        </a>
      </div>
    </div>
  </div>
</div>