<div class="aboutme">
  <div class="container">
    <div class="aboutme-gird">
      <h2 class="headline-section"><a href="#AboutMe">Über mich <mat-icon>link</mat-icon></a></h2>
      <p class="aboutme-text">
        Dear visitor,<br />
        <br>
        TODO: write a good intro!<br>
        <br>
        Best regards,<br>
        Stefan
      </p>
      <div class="aboutme-soprofile">
        <img src="assets/Stefan Kern profilepic.jpg" width="200" />
        <br />
        <a href="http://stackoverflow.com/users/639035/stefan">
          <img src="http://stackoverflow.com/users/flair/639035.png?theme=dark" width="200" height="58" alt="profile for Stefan at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
            title="profile for Stefan at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
        </a>
      </div>
    </div>
  </div>
</div>
