:host {
  padding-top: 60px;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: auto 200px;
  grid-template-rows: auto;
  grid-gap: 15px;
  grid-template-areas: 
    "headline headline"
    "text soprofile"
}


.headline {
  grid-area: headline;
}
.text {
  grid-area: text;
}
.soprofile {
  grid-area: soprofile;
}