<div class="wikiintro">
    <h1>{{skillname}} {{skillnameDecoded}}</h1>

    <div>
        {{skills | async}}
    </div>


    <hr />
    <div>
        {{skillsAsync | async}}
    </div>
    <hr />
    <div>
        {{skillsAsyncDesynced}}
    </div>
    <hr />
    <div *ngFor="let skill of skills | async">
        {{ skill.title}}, {{ skill.level}}, {{ skill.category}}
    </div>
    <div *ngIf="!noArticle; else nowikiarticle"></div>
    <img loading="lazy" [src]="imageurl" *ngIf="imageurl" class="wikiimg" />
    <blockquote [innerHTML]="wikiintro.extract" [attr.cite]="citeurl"></blockquote>
    <ng-template #nowikiarticle>
        Für diesen Begriff wurde keine Wikipediaartikel gefunden!
    </ng-template>
</div>
