.intro {
    background-image: url("/assets/intro/intro-minimal.jpg");
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 992px) {
        height: 285px;
    }
}

.wikiimg {
    float: right;
}