.intro {
    background-image: url("/assets/intro/intro-minimal.jpg");
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 992px) {
        height: 285px;
    }
}

.logo-icon {
    width: 256px;
    position: relative;
    margin: 0 auto;
}

.logo-icon-background {}

.logo-icon-kern {
    position: absolute;
    top: 41px;
    color: #2196f3;
    left: 13px;
    font: 500 40px/40px "Allerta", sans-serif;
}

.logo-icon-pro {
    position: absolute;
    top: 46px;
    color: #2196f3;
    right: 13px;
    font: 500 30px/30px "Allerta", sans-serif;
}

.logo-slogan {
    color: white;
    font-weight: normal;
    text-align: center;
}