<mat-toolbar color="primary">
  <a routerLink="/">
    <svg class="main-nav-logo" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 325">
      <defs>
        <path d="M0 0L640 0L640 326.47L0 326.47L0 0Z" id="a4sQoARor"></path>
        <path
          d="M532.72 0L532.55 0.02L338.77 0.02L338.77 65.1C339.84 65.09 340.42 65.09 340.54 65.09C394.09 65.09 437.65 108.65 437.65 162.19C437.65 215.73 394.09 259.29 340.54 259.29C339.96 259.29 339.37 259.29 338.77 259.28C338.77 263.62 338.77 285.32 338.77 324.4C487.93 324.4 570.79 324.4 587.36 324.4C616.31 324.4 640 300.72 640 271.77C640 249.85 640 74.56 640 52.65C640 23.69 616.31 0 587.36 0C580.08 0 561.86 0 532.72 0Z"
          id="arLUAeTA"></path>
        <path
          d="M340.54 83.89C333.41 83.89 326.53 84.93 319.98 86.72C319.98 80.94 319.98 52.03 319.98 0C159.57 0 70.46 0 52.64 0C23.69 0 0 23.68 0 52.64C0 74.55 0 249.83 0 271.74C0 300.71 23.68 324.4 52.64 324.4C56.28 324.4 74.5 324.4 107.29 324.4L107.46 324.37L319.97 324.37C319.97 272.35 319.97 243.46 319.97 237.68C326.53 239.46 333.41 240.49 340.53 240.49C383.78 240.49 418.84 205.43 418.84 162.19C418.84 118.95 383.78 83.89 340.54 83.89Z"
          id="ao80sKdbj"></path>
        <text id="bxfiRZ0jC" x="63.8" y="287.15" font-size="110" font-family="Allerta" font-weight="normal"
              font-style="normal" letter-spacing="0" alignment-baseline="before-edge"
              transform="matrix(0.9999999999999999 0 0 0.9999999999999999 -18.978102189780998 -191.92408186551324)"
              style="line-height:100%" xml:space="preserve" dominant-baseline="text-before-edge"><tspan x="63.8" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">kern</tspan></text><text
        id="aQAnZu8tG" x="474.74" y="330.95" font-size="79" font-family="Allerta" font-weight="normal"
        font-style="normal" letter-spacing="0" alignment-baseline="before-edge"
        transform="matrix(1 0 0 1 -8.029197080290942 -214.6827968111113)" style="line-height:100%"
        xml:space="preserve" dominant-baseline="text-before-edge"><tspan x="474.74" dy="0em" alignment-baseline="before-edge" dominant-baseline="text-before-edge" text-anchor="start">pro</tspan></text>
      </defs>
      <g>
        <g>
          <g>
            <use xlink:href="#a4sQoARor" opacity="1" fill="#218ef3" fill-opacity="1"></use>
          </g>
          <g>
            <use xlink:href="#arLUAeTA" opacity="1" fill="#ffffff" fill-opacity="1"></use>
            <g>
              <use xlink:href="#arLUAeTA" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1"
                   stroke-opacity="0"></use>
            </g>
          </g>
          <g>
            <use xlink:href="#ao80sKdbj" opacity="1" fill="#ffffff" fill-opacity="1"></use>
            <g>
              <use xlink:href="#ao80sKdbj" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1"
                   stroke-opacity="0"></use>
            </g>
          </g>
          <g id="b2bV8bU2X">
            <use xlink:href="#bxfiRZ0jC" opacity="1" fill="#2196f3" fill-opacity="1"></use>
          </g>
          <g id="aJujpieU">
            <use xlink:href="#aQAnZu8tG" opacity="1" fill="#2196f3" fill-opacity="1"></use>
          </g>
        </g>
      </g>
    </svg>
    Stefan Kern, MSc
  </a>
  <span class="main-nav-spacer"></span>
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [position]="'end'">
    <mat-toolbar color="primary" i18n>Inhaltsverzeichnis</mat-toolbar>
    <mat-nav-list class="sidenav-items">
      <a mat-list-item href="#AboutMe" i18n>Über mich</a>
      <a mat-list-item href="#Skills" i18n>Fähigkeiten</a>
      <a mat-list-item href="#Timeline" i18n>Ausbildung und Arbeit</a>
      <a mat-list-item href="#Contact" i18n>Kontakt</a>
    </mat-nav-list>

    <mat-button-toggle-group name="language-switcher" aria-label="Language swicher" class="sidenav-language-switcher"
      [value]="selectedLng" (change)="onValChange($event.value)">
      <mat-button-toggle value="de" class="sidenav-language">DE</mat-button-toggle>
      <mat-button-toggle value="en" class="sidenav-language">EN</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-sidenav>
  <mat-sidenav-content id="SidenavContent">
    <ng-content></ng-content>

    <core-contact id="Contact"></core-contact>
  </mat-sidenav-content>
</mat-sidenav-container>
