.sidenav-container {
  height: 100%;
}

.sidenav {
  border-right-width: 0;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;

}

.main-nav-spacer {
  flex: 1;
}

.main-nav-logo {
  height: 35px;
  padding-right: 10px;
}

a {
  display: inherit;
  color: white;
  text-decoration: none;

  &:focus,
  &:hover {
    color: white;
  }
}
